<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marow Macaulay</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/stylesheets/css/animate.min.css" rel="stylesheet">
    <link href="/stylesheets/css/aos.css" rel="stylesheet">

    <link href="/stylesheets/css/app.css" rel="stylesheet">

</head>

<body>


    <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div>

    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>