<% include partials/header.ejs%>

<div class="section" id="home" data-stellar-background-ratio="0.5>
        <div class=" container">
    <div class="disply-table">
        <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
            <h2>MACAULAY Marow</h2>
            <h1>Software <br /> Engineer</h1>
        </div>
    </div>
</div>
</div>

<div class="section" id="about">
    <div class="container">
        <div class="col-md-6" data-aos="fade-up">
            <h4>01</h4>
            <h1 class="size-50">Know <br /> About me</h1>
            <div class="h-50"></div>
            <p>My name is Marow Macaulay and i am a Software Engineer. I have worked with various developer
                tools to solve day to day problems. I appropriately maintain standards compliant total linkage with
                cutting-edge action items
                . I quickly promote premium
                strategic theme areas. i specialize either computer software applications or computer software systems.
                I analyze users' needs and then design, test, and develop software by applying the theories and
                principles of computer science and mathematical analysis.</p>


            <div class="h-50"></div>
        </div>
        <div class="col-md-6 about-img-div">
            <div class="about-border" data-aos="fade-up" data-aos-delay=".5"><img id="marow"
                    src="images/marow.png" alt="Marow">
            </div>
            <img src="images/about-img.jpg" width="400" class="img-responsive" alt="" align="right" data-aos="fade-right"
                data-aos-delay="0" />
        </div>
    </div>
</div>

<div class="section" id="experience">
    <div class="container">
        <div class="col-md-12">
            <h4>02</h4>
            <h1 class="size-50">Work<br />Experience</h1>
            <div class="h-50"></div>
        </div>
        <div class="col-md-12">
            <ul class="timeline">
                <li class="timeline-event" data-aos="fade-up">
                    <label class="timeline-event-icon"></label>
                    <div class="timeline-event-copy">
                        <p class="timeline-event-thumbnail">July 2019</p>
                        <h3>Venture Garden Group</h3>
                        <h4>Software Engineer</h4>
                        <p><strong>Frontend Development</strong>
                            <br>
                            Venture Garden Group has proven to be one of the best IT companies that
                            helps provides daily solutions to IT problems. I was privileged to
                            participate in an Hackathon event that was organised in my school to
                            solving problems regarding the Educational sector.</p>
                    </div>
                </li>
                <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                    <label class="timeline-event-icon"></label>
                    <div class="timeline-event-copy">
                        <p class="timeline-event-thumbnail">March 2019 - July 2019</p>
                        <h3>Hotels.NG</h3>
                        <h4>Frontend Developer</h4>
                        <p>Hotels.ng​ is a Nigeria online hotels booking agency which was
                        launched in 2013. The platform was founded by ​ Mark Essien​ who
                        hails from Akwa Ibom State, Nigeria and claims to list over 7,138
                        hotels from 320 cities in Nigeria. I was privileged to work as an Intern.<p>
                    </div>
                </li>
                <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                    <label class="timeline-event-icon"></label>
                    <div class="timeline-event-copy">
                        <p class="timeline-event-thumbnail">August 2019 - September 2019</p>
                        <h3>Start.Ng</h3>
                        <h4>Facilitator</h4>
                        <p>Handled both team projects and also coordinated
                        projects aimed at solving day to day technological
                        problems.
                             </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="section" id="projects">
    <div class="container">
        <div class="col-md-12">
            <h4>03</h4>
            <h1 class="size-50">My <br /> Projects</h1>
        </div>
        <div class="main-container portfolio-inner clearfix">

            <div class="portfolio-div">
                <div class="portfolio">

                    <div class="categories-grid wow fadeInLeft">
                        <nav class="categories">
                            <ul class="portfolio_filter">

                                <li><a href="" data-filter=".site">Developed Projects</a></li>

                            </ul>
                        </nav>
                    </div>

                    <div class="no-padding portfolio_container clearfix" data-aos="fade-up">



                    </div>

                    <div class="col-md-4 col-sm-6 photography">
                        <a href="https://devalert.me" class="portfolio_item"> <img
                                src="/images/devalert.png"
                                alt="image" class="img-responsive" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info"> 
                                 </div>
                                 
                                </div>
                            </div>
                        </a>
                        <b><h3> Devalert</h3></b>
                    </div>

                     <div class="col-md-4 col-sm-6 photography">
                        <a href="#" class="portfolio_item"> <img
                                src="/images/book.png"
                                alt="image" class="img-responsive" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info"> 
                                 </div>
                                 
                                </div>
                            </div>
                        </a>
                        <b><h3> Bookstorm</h3></b>
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>
</div>

<div class="section" id="contact">
    <div class="container">
        <div class="col-md-12">
            <h4>04</h4>
            <h1 class="size-50">Contact Me</h1>
            <div class="h-50"></div>
        </div>
        <div class="col-md-4" data-aos="fade-up">

            <h3>Phone Number</h3>


            <p>+234 815 920 7268</p>
            <h3> Mobile Number</h3>
            <p>+234 816 016 4377</p>
            <h3>Email</h3>
            <p>marowmars@gmail.com </p>

            <h3>Social Network</h3>

            <ul class="social">
                <li><a href="https://facebook.com/marow.macaulay"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/_marow_mars_"><i class="ion-social-twitter"></i></a></li>
               

            </ul>
            <div class="clearfix"></div>
            <div class="h-50"></div>
        </div>
        <div class="col-md-8" data-aos="fade-up">
            <form class="contact-bg" id="contact-form" name="contact" action="/sent" method="POST"
                novalidate="novalidate">
                <input required type="text" name="name" class="form-control" placeholder="Your Name" />
                <input required type="email" name="email" class="form-control" placeholder="Your E-mail" />
                <input requred type="text" name="phone" class="form-control" placeholder="Phone Number" />
                <textarea required minlength=300 name="message" class="form-control" placeholder="Your Message"
                    style="height:120px"></textarea>
                <button id="submit" type="submit" name="submit" class="btn btn-glance">Send</button>
                <div id="success">
                    <p class="green textcenter"> Your message was sent successfully to Macaulay Micheal! I will be
                        in touch as soon as possible. </p>
                </div>
                <div id="error">
                    <p> Something went wrong, try refreshing and submitting the form again. </p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!--  plugins  -->
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>

<!--  main script  -->
<script src="js/custom.js"></script>

<%include partials/footer.ejs%>